@import "../defaults/_defaults.scss";

body {
    #page {
        #bottom {
            #right {
                #text {
                    #versionDetailInfos {

                        #accessTokenBar {

                            display:                        flex;
                            margin:                         10px 0px;

                            accessTokenInput {
                                border-radius:                  4px;
                            }

                            accessTokenEncoding {
                                padding:                        0px 10px;
                            }

                            accessTokenButton {
                                border:                         0;
                                border-radius:                  4px;
                            }

                        }

                        #versionDetails {

                            padding:                        1vh 2vw;
                            border-radius:                  6px;
                            background-color:               #e7e7e7;

                            #versionId {
                                font-weight:                    bold;
                                padding-bottom:                 .6vh;
                            }

                            #endpoints {

                                display:                        flex;
                                flex-direction:                 column;

                                a.endpoint {

                                    padding:                        1vh 2vw;
                                    display:                        inline-block;
                                    color:                          #5272a3;
                                    font-weight:                    bold;
                                    background-color:               #e1e1e1;
                                    text-decoration:                none;
                                    border-top:                     1px solid #ebebeb;

                                    .url {
                                        font-size:                  85%;
                                        font-weight:                normal;
                                    }

                                }

                                a.endpoint:hover {
                                    background-color:               #bcc9dd;
                                }

                            }

                            #endpoints .endpoint:first-child {
                                border-top-left-radius:         6px;
                                border-top-right-radius:        6px;
                            }

                            #endpoints .endpoint:last-child {
                                border-bottom-left-radius:      6px;
                                border-bottom-right-radius:     6px;
                            }

                        }

                    }
                }
            }
        }
    }
}
