body #page #bottom {
  overflow-y: auto;
}
body #page #bottom #right #text #locationInfos #locationInfos2 {
  padding: 1vh 2vw;
  border-radius: 6px;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .description {
  font-weight: bold;
  padding-bottom: 3px;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .statistics {
  display: table;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .statistics .row {
  display: table-row;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .statistics .row .key {
  display: table-cell;
  /*padding-right:      10px;*/
  width: 15vh;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .statistics .row .value {
  display: table-cell;
}
body #page #bottom #right #text #locationInfos #locationInfos2 .statistics .row .tariff {
  padding-right: 20px;
}
body #page #bottom #right #text #locationInfos #locationInfos2 #locationStatistics {
  padding-bottom: 10px;
}
body #page #bottom #right #text #locationInfos #locationInfos2 #evseStatusStatistics {
  padding-bottom: 10px;
}
body #page #bottom #right #text #locationInfos #locationInfos2 #tariffStatistics {
  padding-bottom: 15px;
}
