@import "defaults/_defaults.scss";

body {
    #page {
        #bottom {
            #right {
                #text {
                    #versionInfos {

                        #versionInfos2 {

                            padding:            1vh 2vw;
                            border-radius:      6px;
                            background-color:   #e7e7e7;

                            #description {
                                font-weight:        bold;
                                padding-bottom:     .6vh;
                            }

                            #versions {

                                display:                flex;
                                flex-direction:         column;
                                border-top:             none;

                                a.version {

                                    padding:                1vh 2vw;
                                    display:                inline-block;
                                    color:                  #5272a3;
                                    font-weight:            bold;
                                    background-color:       #e1e1e1;
                                    text-decoration:        none;
                                    border-top:             1px solid #ebebeb;

                                    .versionLink {
                                        font-size:              85%;
                                        font-weight:            normal;
                                    }

                                }

                                a.version:hover {
                                    background-color:       #bcc9dd;
                                }

                            }

                            #versions a.version:first-child {
                                border-top-left-radius:         6px;
                                border-top-right-radius:        6px;
                            }

                            #versions a.version:last-child {
                                border-bottom-left-radius:      6px;
                                border-bottom-right-radius:     6px;
                            }

                        }

                    }
                }
            }
        }
    }
}
