// Redefines the default colors within the OCPIWebAPI...


$NavigationBackground:  #ff7300;
$LogoBackground:        #e7e7e7;
$NavigationMenuColor:   #ffb980;
$CardiOrangeColor:      #ff7300;

$TopbarHeight:          75px;
